.header {
    
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
}

.button {
   border: 1px solid #0a3c59;
   background: #e73e3e;
   background: -webkit-gradient(linear, left top, left bottom, from(#e73e3e), to(#e73e3e));
   background: -webkit-linear-gradient(top, #e73e3e, #e73e3e);
   background: -moz-linear-gradient(top, #e73e3e, #e73e3e);
   background: -ms-linear-gradient(top, #e73e3e, #e73e3e);
   background: -o-linear-gradient(top, #e73e3e, #e73e3e);
   background-image: -ms-linear-gradient(top, #e73e3e 0%, #e73e3e 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #fcfcfc;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #ed5151;
   background: -webkit-gradient(linear, left top, left bottom, from(#e85656), to(#ed5151));
   background: -webkit-linear-gradient(top, #e85656, #ed5151);
   background: -moz-linear-gradient(top, #e85656, #ed5151);
   background: -ms-linear-gradient(top, #e85656, #ed5151);
   background: -o-linear-gradient(top, #e85656, #ed5151);
   background-image: -ms-linear-gradient(top, #e85656 0%, #ed5151 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #e73e3e;
   background: -webkit-gradient(linear, left top, left bottom, from(#e73e3e), to(#ed5151));
   background: -webkit-linear-gradient(top, #e73e3e, #e73e3e);
   background: -moz-linear-gradient(top, #e73e3e, #e73e3e);
   background: -ms-linear-gradient(top, #e73e3e, #e73e3e);
   background: -o-linear-gradient(top, #e73e3e, #e73e3e);
   background-image: -ms-linear-gradient(top, #e73e3e 0%, #e73e3e 100%);
   color: #fff;
   }
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input[type=text] {
   width: 300px;
    height: 33px;
}
.content{
     height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
body {
   background-image: url("/images/background.jpg");
   background-color: #cccccc;
}